---
import { getRelativeLocaleUrl } from "astro:i18n"
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import { DEFAULT_LOCALE, SUPPORTED_LOCALES } from "@/i18n/ui"
import Layout from "@/layouts/layout.astro"
import Action from "@/components/ui/action.astro"

const locale = getLangFromUrl(Astro.url)
const isValidLocale = SUPPORTED_LOCALES.includes(locale)
const redirectLocale = isValidLocale ? locale : DEFAULT_LOCALE

if (!isValidLocale) {
  throw Astro.rewrite(`/${redirectLocale}/404`)
}

const t = useTranslations(locale)

const title = "Dresan - 404"
const description = t("seo.404.description")
const canonical = `https://www.dresan.dev/${locale}/404`
---

<Layout title={title} description={description} canonical={canonical} vh={true}>
  <h1 class="title">404</h1>
  <p class="description">{t("404.description")} ♨︎_♨︎</p>
  <Action as="a" href={getRelativeLocaleUrl(locale, "/")}>{t("404.goBackHomeLink")}</Action>
</Layout>

<style>
  .title {
    font-size: clamp(150px, 137.872px + 3.236vw, 200px);
    line-height: 1;
    font-family: var(--secondary-font);
  }

  .description {
    font-size: 20px;
    padding-block-end: 24px;
  }
</style>
