---
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import SpotifyLogo from "@/components/icons/spotify-logo.astro"

const locale = getLangFromUrl(Astro.url)
const t = useTranslations(locale)

const title = "Stressed out"
const artist = "Twenty One Pilots"
const albumImage = "/images/stressed-out-album-cover.png"
const url = "https://open.spotify.com/intl-es/album/3cQO7jp5S9qLBoIVtbkSM1"
---

<a class="card" href={url} target="_blank" rel="noopener noreferrer">
  <img
    class="album-image"
    src={albumImage}
    alt={`${title} ${t("nowPlaying.image.alt")}`}
    width="56"
    height="56"
    loading="lazy"
  />
  <div>
    <p class="title">{title}</p>
    <p class="artist">{artist}</p>
  </div>

  <SpotifyLogo class="spotify-logo" width={32} height={32} />
</a>

<style>
  .card {
    --background-opacity: 0.7;
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    background-color: hsl(var(--color-card-background-secondary-hsl) / var(--background-opacity));
    transition: background-color var(--theme-transition-duration);
  }

  .card:hover {
    --background-opacity: 1;
  }

  .album-image {
    block-size: auto;
    border-radius: 6px;
  }

  .title {
    font-size: 14px;
  }

  .artist {
    font-size: 12px;
    color: var(--color-text-secondary);
  }

  .spotify-logo {
    margin-inline-start: auto;
    flex: 0 0 32px;
  }
</style>
