---
import type { ProjectModalData } from "@/types"
import Modal from "@/components/ui/modal.astro"
import Carousel from "@/components/ui/carousel.astro"
import Slide from "@/components/ui/slide.astro"
import X from "@/components/icons/x.astro"

interface Props extends ProjectModalData {
  id: string
  title: string
  gradient: string
}

const { id, title, description, images, gradient, links, tags } = Astro.props

const hasSeveralItems = images.length > 1
---

<Modal id={id} class="modal">
  <div class="content">
    <div
      style={{ backgroundImage: gradient }}
      class:list={["image-wrapper", { "one-item": !hasSeveralItems }]}
    >
      {
        hasSeveralItems ? (
          <Carousel>
            {images.map(({ desktop, mobile }, index) => (
              <Slide>
                <img
                  class="image"
                  srcset={`${mobile} 675w, ${desktop} 950w`}
                  sizes="(width <= 768px) 675px, 950px"
                  src={desktop}
                  alt={`Imagen de previsualización ${++index} del proyecto ${title} desarrollado por Dresan`}
                  width={950}
                  height={500}
                  loading="lazy"
                />
              </Slide>
            ))}
          </Carousel>
        ) : (
          <img
            class="image"
            srcset={`${images[0].mobile} 675w, ${images[0].desktop} 950w`}
            sizes="(width <= 768px) 675px, 950px"
            src={images[0].desktop}
            alt={`Imagen de previsualización del proyecto ${title} desarrollado por Dresan`}
            width={950}
            height={500}
            loading="lazy"
          />
        )
      }
    </div>

    <div class="info-wrapper">
      <div class="header">
        <h2 class="title block">{title}</h2>
        {
          links.map(({ url, label, ...link }) => (
            <a class="action block" href={url} target="_blank" aria-label={label}>
              <link.icon />
            </a>
          ))
        }
        <form method="dialog">
          <button class="action close block" aria-label="Cerrar modal">
            <X />
          </button>
        </form>
      </div>

      <div class="tags-wrapper block">
        <h3 class="subtitle">Tags</h3>
        <div class="tag-list">
          {
            tags.map(({ name, colorLightHsl, colorDarkHsl }) => (
              <span
                style={{
                  "--tag-pill-light-color-hsl": colorLightHsl,
                  "--tag-pill-dark-color-hsl": colorDarkHsl,
                }}
                class="tag-pill"
              >
                {name}
              </span>
            ))
          }
        </div>
      </div>

      <div class="info block">
        <h3 class="subtitle">Descripción general</h3>
        <p>{description}</p>
      </div>
    </div>
  </div>
</Modal>

<style>
  .modal {
    --wrapper-block-background-color: hsl(0 0% 7% / 0.6);
    --block-background-color: hsl(0 2% 10% / 0.6);
    --hover-block-background-color: hsl(0 3% 15% / 0.6);
    --backdrop-background-color: hsl(0 0% 1% / 0.8);
    --padding-inline: 20px;
    inline-size: min(100%, 93vw);
    block-size: min(100%, 93vh);
    background-color: transparent;
    pointer-events: none;
  }

  html[data-theme="light"] .modal {
    --wrapper-block-background-color: hsl(0 0% 90% / 0.7);
    --block-background-color: hsl(0 0% 85% / 0.7);
    --hover-block-background-color: hsl(0 0% 75% / 0.7);
    --backdrop-background-color: hsl(0 0% 100% / 0.8);
  }

  .modal::backdrop {
    backdrop-filter: blur(8px);
    background-color: var(--backdrop-background-color);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    block-size: 100%;
  }

  .content > * {
    pointer-events: auto;
  }

  .block {
    background-color: var(--block-background-color);
    border: 1px solid var(--color-stroke);
    border-radius: 8px;
  }

  .info-wrapper {
    --border-space: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--border-space);
    min-block-size: 350px;
    padding: var(--border-space);
    overflow-y: auto;
    background-color: var(--wrapper-block-background-color);
    border: 1px solid var(--color-stroke);
  }

  .image-wrapper,
  .info-wrapper {
    border-radius: 16px;
  }

  .image-wrapper {
    flex: 0.7;
    display: grid;
    place-items: center;
    inline-size: 100%;
  }

  .image-wrapper.one-item {
    flex: 0.6;
    padding: 16px;
  }

  .image {
    block-size: auto;
    inline-size: 100%;
    border-radius: 8px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    gap: var(--border-space);
  }

  .title {
    flex: 1;
    display: flex;
    align-items: center;
    padding-inline: var(--padding-inline);
    font-size: clamp(18px, 16.544px + 0.388vw, 24px);
  }

  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 55px;
    min-block-size: 55px;
    transition: background-color 300ms;
  }

  .action.close {
    block-size: 100%;
  }

  .action:is(:hover, :focus-visible) {
    background-color: var(--hover-block-background-color);
  }

  .tags-wrapper {
    padding: 16px var(--padding-inline);
  }

  .tag-list {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    gap: 8px;
  }

  .tag-pill {
    --tag-pill-color: var(--tag-pill-dark-color-hsl);
    text-wrap: nowrap;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    padding: 1px 6px;
    border-radius: 4px;
    color: hsl(var(--tag-pill-color));
    background-color: hsl(var(--tag-pill-color) / 0.08);
    border: 1px solid hsl(var(--tag-pill-color) / 0.2);
  }

  html[data-theme="light"] .tag-pill {
    --tag-pill-color: var(--tag-pill-light-color-hsl);
  }

  .info {
    flex: 1;
    padding: var(--padding-inline);
    background-color: var(--block-background-color);
    border: 1px solid var(--color-stroke);
    overflow-y: auto;
  }

  .subtitle {
    display: inline-block;
    font-weight: 600;
    padding-block-end: 12px;
    font-size: 16px;
  }

  @media (hover: hover) {
    .modal {
      inset-inline-start: var(--scrollbar-width);
    }
  }

  @media screen and (min-width: 768px) {
    .image-wrapper {
      flex: unset;
    }

    .image {
      max-inline-size: 700px;
      margin-inline: auto;
    }

    .tag-list {
      flex-wrap: wrap;
    }
  }

  @media screen and (min-width: 1200px) {
    .modal {
      block-size: min(100%, 90vh);
    }

    .content {
      flex-direction: row;
    }

    .image {
      max-inline-size: unset;
      inline-size: 80%;
    }

    .info-wrapper {
      flex: 0.4;
      min-inline-size: 500px;
    }
  }
</style>
